attrs
Automat
cffi
constantly
cryptography
cssselect
flake8
h2
hpack
hyperframe
hyperlink
idna
importlib-metadata
incremental
iniconfig
itemadapter
itemloaders
jmespath
lxml
mccabe
packaging
parsel
pluggy
priority
Protego
py
pyasn1
pyasn1-modules
pycodestyle
pycparser
PyDispatcher
pyflakes
pyOpenSSL
pyparsing
pytest==8.4.2
queuelib
Scrapy
service-identity
six
toml
Twisted
typing_extensions
w3lib
zipp
zope.interface
